body {
    background-color: #a8c5e6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image {
    width: 50px;
    height: 100px;
}
#Result {
    margin-top: 20px;
}